/* @import "./bsVariables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass"; */

@import "./utils/css3";

body {
  font-family: "Microsoft Yahei","微软雅黑",Calibri,verdana,tahoma,arial,sans-serif;
  position: relative;
  overflow-x:hidden;
}

/* nav.navbar-default */

nav.navbar-default{
	font-size:110%;
	border-bottom:1px solid #ddd;
	box-shadow: 0 1px 3px #ddd;

	ul.navbar-nav a{
		font-weight: 600;
	}
	/* ul.navbar-nav > .active > a{
		border-bottom: 2px solid #555;
	}
	ul.navbar-nav > li > a:hover{
		border-bottom: 2px solid #555;
	} */
	ul.navbar-nav > li{
		&.active:after,&:hover:after{
			content:"";
			border-bottom: 2px solid #555;
			position: absolute;
	    	width: 100%;
		}
	}

	ul.dropdown-menu a{
		font-weight: normal;
	} 
	div.navbar-header> .navbar-brand{
		text-shadow:1px 0px #333;
		font-weight: 500;
		font-size:1.5em;
		letter-spacing: 0.1em; 
	} 
}   

/* sidebar content*/

#sidebar{
	section.sidebar-header{
		padding:1em 1em 0.5em;
		color:rgba(255,255,255,0.7);
		font-size:20px;
		font-weight: 500;
		border-bottom:1px solid rgba(255,255,255,0.1);
		margin-bottom:0.5em;
		letter-spacing: 0.1em;
	}
	
	ul,ol{
		list-style: none;
		padding-left:0;
		li{
			a{
				color:rgba(255,255,255,0.9);
				display: block;
				padding:5px 0.5em;
			}
			&.active>a,a:hover{
				color:#fff;
				text-decoration:none;
				background:rgba(255,255,255,0.1);
			}
			a~ul a,a~ol a{padding-left:2.5em;}
		}
	}
}

 
span.circle{
	//font-size:90%;
	border-radius:50%;
	padding: 8px;
	//background:#333;
	//color:#fff;
	border:1px solid #a8adb0;
	background:#fff;
	opacity: 0.9;
	&:hover,&.active{
		color:#fff;
		border:none;
		background:darken(#333,10%);
	}
}

/* sidebar & wrapper ctrl */

$sidebar-width:250px;
$sidebar-direction: left;
$sidebar-reverse-direction: if($sidebar-direction == right,left,right);

#sidebar-ctrl{
	position:fixed;
	top:70px;
	#{$sidebar-direction}:5px;
	z-index:10;
	cursor:pointer;
	display: block;
	transition: transform 0.5s ease;
	/* &.active{
		left:10px;
		&:after{
			position:absolute;
			content:"";
			top:50%;
			left:-10px;
			width:10px;
			border:1px solid darken(#333,10%);
		}
	} */
}

#sidebar{
	position:fixed;
	top:0;
	#{$sidebar-direction}:-#{$sidebar-width};
	bottom:0;
	width:$sidebar-width;
	overflow-y:auto;
	transition: transform 0.5s ease; 

	background:#202020;
	color:#fff;
}

#wrapper{
  transition: transform 0.5s ease; 
  //position: relative;
  width:100%;
  >div.container{
  	padding-left:20px;
  	padding-right:20px;
  }
}

.sidebar-toggle {
	//transform: translateX($sidebar-width);
	transform: translateX(if($sidebar-direction == right,-#{$sidebar-width},$sidebar-width));
	transition: transform 0.3s ease; 
}

#wrapper.sidebar-toggle{
	>.container{
		//padding-#{if($sidebar-direction == right,left,right))}:$sidebar-width+10;
		// animation:containerfits 0.5s;
		 @include animation(containerfits,0.5s);
		 padding-#{$sidebar-reverse-direction}:$sidebar-width+10;
	}
}

// @keyframes containerfits{
// 	from{padding-#{$sidebar-reverse-direction}:20px};
// 	to{padding-#{$sidebar-reverse-direction}:$sidebar-width+10;}
// }

@include keyframes(containerfits){
	from{padding-#{$sidebar-reverse-direction}:20px};
	to{padding-#{$sidebar-reverse-direction}:$sidebar-width+10;}
}

/* -------------------------------- */

/* article-listing */

#article-listing{
	margin:0 auto;
	max-width: 768px;
	
	>article{
		//margin-bottom:1.5em;
		padding:2em 10px;
		border-bottom:1px solid #eee;

		&:hover{
			background:#fcfcfc;
		}
		>h3{
			margin-top:0;
			>a{
				color:#000;
				display: block;
				&:hover{text-decoration: none;}
			}
		}
		>p{
			text-align: justify;
			margin-left:1em;
		}
		>ul.post-meta{
			padding-left:1em;
			list-style: none;
			>li{
				display:inline-block;
				&:after{content: "\00A0\00A0\00B7\00A0\00A0";}
	 			&:last-child:after {content: "";}
				time{color:#555; font-size:95%;}
				a{color:#555;}
				a:hover{text-decoration: none;}
				span.label{
					color:#333;
					border:1px solid #777;
					background:#fff;
					font-weight: normal;
					&:hover{
						background:#777;
						color:#fff;
					}
				}
			}
		}
		>.readmore{
			display: block;
			font-size:85%;
			color:#777;
			float:right;
			padding:5px;
			margin-right:5px;
			&:hover{
				color:#333;
				text-decoration: none;
				//background: #fcfcfc;
				border-bottom:1px solid #555;
			}
		}
	}
	
	>nav{
		text-align: center;
		> ul.pagination{
			font-size:90%;
			li.active a{
				color:#fff;
				background: #555;
			}
			a{
				border:none; 
				color:#555;
				&:hover{
					color:#333;
				}
			}
		}
	}

}

/* article-detail */

article.detail{
	>.post-header{
		margin:0 auto;
		text-align: center;
		>h1{color:#000;}
		>ul.post-meta{
			list-style: none;
			margin:2em 0;
			font-weight: 500;

			>li{
				display:inline-block;
				// &:after{content: "\00A0\00A0\00B7\00A0\00A0";}
			 	// &:last-child:after {content: "";}
			 	padding-left:5px;
				span{padding:0 2px;}
				time{color:#555;}
				a{color:#555;padding:0 1px;}
				a:hover{color:#000;}
				
			}
		}
	}
	>.post-content{
		pre{
	      background:none;
	      border:none;
	      font-size:1em;
	      margin-bottom:3px;
		  padding-top:5px;
	      code{
	      	border-radius: 5px;
	      }
	    }
	    p{margin-left:10px;}
	    h2{color:#000; border-top:2px solid; padding:20px 0;}
	    h3{margin-bottom:20px;color:#000; border-top:1px solid #ccc; padding:20px 0 10px;}
		// h3:before{content:" * ";}
	    h4{margin-top:20px;color:#000}
	    blockquote{font-size:1em;}
		
		li>p{margin-top:7px;}
	}
	img{
		max-width:100%;
	}
}

/* archive-listing */

#archive-listing{
	margin:0 auto;
	max-width:768px;

	>article{
		//margin-top:2.5em;
		margin-bottom:2.5em;
		//margin:2.5em 0;

		padding-left:120px;
		position:relative;
		>time{
			position:absolute;
			width:120px;
			top:0;
			bottom:0;
			left:0;

			color:#777;
			font-size:110%;
			font-weight: 500;
			padding-right:5px;
			//padding-left:5px;
		}
		>h3{
			margin-bottom:5px;
			a{color:#333;}
		}
		>label{
			color:#7e7e7e;
			margin-bottom: 1.2em;
			a{color:#888;display:inline-block;font-weight:normal;}
			a:hover{color:#555;}
		}
		>p{
			text-align: justify;
		}

		@media (max-width: 35em){
	      padding-left:0;
	      >time{
	        position: static;
	        width:auto;
	        color:#888;
	        font-size:100%;
	        font-style: normal;
	        &:before{content:"postDate: ";font-weight:bold;color:#7e7e7e;}
	        //&:after{content: "\00A0\00A0\00B7\00A0\00A0";}
	      }
	    }
	}
}

/* tag-listing */

#tag-listing{
	
	max-width:750px;
	margin:0 auto;

	> header{
		border-bottom:1px solid #eee;
		margin-bottom:2.5em;
	}

	> section.tag-item{
		margin:0 auto;
		max-width: 500px;
		h3{text-align: center;}
		ul{
			list-style: none;
			margin:1em 0 2em;
			padding-left:0;
			li{
				padding:5px;
				margin:5px;
			}
			a{
				display:block;
				height:30px;
				time{
					color:#777;
					font-weight: 500;
					margin-right:2em;
					margin-left:1em;
				}
				span{
					color:#333; 
					display:inline-block;
					margin:5px;
				}
			}
			a:hover{
				//background:rgba(0,0,0,0.05);
				text-decoration: none;
				border-bottom: 1px dashed #555;
				time{color:#333;}
				span{color:#000;}
			}
		}
	}

}


/* about-listing */

#about-listing{
	margin:0 auto;
	max-width:700px;

	>header{
		margin:2.5em auto;
		>span.site-brand{
			display: block;
		    margin: 0 auto;

		    /* background: url("svgs/cloud-green.svg") no-repeat;
		    height: 125px;
		    width: 180px;
		    font-size: 20px;
		    padding-top: 53px; */

		    background: url("svgs/cloud.svg") no-repeat;
		    height: 175px;
		    width: 250px;
		    font-size: 24px;
		    padding-top: 75px;

		    vertical-align: middle;
		    letter-spacing: 0.2em;
		    font-weight: bold;
		}
		>small{color:#888;}
		>p{
			color:#777;
			font-size:24px;
			margin:10px 0;
		}
	}
	>section.about-item{
		margin:2em auto;
	}

}


/* widget */

section.widget{
	margin:1em auto;
	> h3{
		color:#000;
		text-align: center;
		margin-top:1.5em;
		span.glyphicon{
			font-size:80%;
			margin:0 10px;
		}
		a{
			color:#000;
			&:hover{text-decoration: none;}
		}
	}
}


ul.toc{
	font-size:95%;
	list-style: none;
	border: 1px solid #ccc;
	padding: 1em 0 1em 1em;
	border-radius: 1em;
    span.tree-indent{
      margin-left:1em;
    }
    li{
    	padding:5px;
    	&.active{
    		background:#ccc;
    	}
    }
    ul{
    	list-style:none;
    }
}

ul.tagCloud{
	list-style: none;
	padding-left:0;
	li{
		display: inline-block;
		padding:5px;
		margin:10px;
	}

	a{
		font-size:120%;
		display: inline;
		padding:5px;
		margin:10px;
		color:#888;
		font-weight: 500;
		&:hover{
			color:#000;
			text-decoration: none;
			border-bottom:2px solid #333;
		}
	}
}

ul.tags{
	list-style: none;
	padding-left:5px;

	li{
		display: inline-block;
		padding:3px 1px;
	}
	a{
		font-size:90%;
		display: inline;
		padding:.2em .6em .3em;
		line-height: 2;
		color:#333;
		background: #f8f8f8;
		border-radius: 5px 5px 0 0;
		&:hover{
			color:#000;
			text-decoration: none;
			border-bottom:2px solid #555;
			background: #f3f3f3;
		}
	}
	span.glyphicon-tags{
		margin-right:5px;
	}
}

ul.tree{
	list-style: none;
	padding-left:0;
	li{
		>ul{
			display: none;
		}
		&.open>ul{
			display:block;
		}
	}
	>li>a{padding:8px;}
	>li>ul a{font-size:90%;}
	a{
		color:#333;
		display: block;
		padding:5px;
		border-bottom:1px solid #eee;
		text-decoration: none;
		&:hover{
			text-decoration: none;
			color:#000;
			background: #fcfcfc;
			border-bottom-color:#555;
		}
	}
	span.glyphicon{padding-right:15px;font-size:80%;}
	time{padding-right:10px;}
}

/* Svg Clock */

svg#clock{
	max-width:150px;
	max-height:150px;
}

#face {
	stroke-width: 3px; 
	stroke: #333; 
	fill:#fff;
}
#hour,#min{
	fill:#fff;
	stroke:#333;
	stroke-width:1px;
}
#sec{
	fill:#111;
}
#middle{
	fill:#fff;
	stroke:#555;
	stroke-width:1px;
}
#inner1{
	fill:#fff;
	stroke:#555;
}

/* go-top */
$go-top-color: #555;

#go-top{
  position: fixed;
  bottom: 1em;
  right:1em;
  width: 2em;
  /*height: 2em;*/
  border-radius: 50%;
  background-color:rgba(255,255,255,0.5);
  text-align: center;
  color:$go-top-color;
  line-height: 1.5em;
  //border: 2px solid $blue-color;
  /* @include box-shadow(0 0 0.5em $color inset);*/
  border:2px solid $go-top-color;
  z-index: 1000;
  
  &:hover{
    /*@include box-shadow(0 0 1.5em $color inset);*/
    background:$go-top-color;
    color:#fff;
  }
}
